.scrollContainerX {
	width: 100%;
	height: 100%;
	overflow-x: scroll;
}

.scrollContainerY {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.scrollContainerAuto {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
}


.rendererContainer {
	width: 100%;
	height: 100%;
}

.functionsContainer {
	padding : 10px;
}

.anglePlotsOptions {
	position: absolute;
	left : 0px;
	top : 0px;
	margin: 10px;
}